.kinodev-input {
  height: 40px;
  width: 240px;
  padding: 10px;
  font-size: medium;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

.kinodev-input:focus,
.kinodev-input.active {
  border: 3px solid var(--primary-color-dark-extra);
  color: var(--primary-color-dark-extra);
}

.kinodev-label-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.kinodev-label-text{
  font-size: small;
  color: var(--primary-color);
}