.showing-movie-card {
  display: flex;
  gap: 25px;
  margin: 16px 0;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.showing-movie-card:hover {
  cursor: pointer;
  color: var(--primary-color-dark-extra);
}

.showing-movie-card:hover .basic-details .label,
.showing-movie-card:hover .basic-details .details {
  color: var(--primary-color-dark);
  transition: color 0.3s ease;
}

.showing-movie-card:hover .movie-poster {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.showing-movie-card .movie-poster {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.showing-movie-card .movie-poster.mobile {
  width: 100px;
  height: 100px;
}

.showing-movie-card .show-time-buttons {
  margin-top: 0px;
}

.showing-movie-card .movie-description {
  margin-top: 15px;
}

/*

.poster-container {
  flex-shrink: 0;
}

.poster-container-desktop {
  width: 200px;
}

.poster-container-mobile {
  width: 100px;
}

.content-container {
  flex: 1;
  min-width: 0;
}

.movie-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

.info-section {
  margin-bottom: 8px;
}

.poster-wrapper-mobile {
  height: 100px;
}

.poster-container-img {
  background-size: cover;
  background-position: center;
}

.poster-img-mobile {
  height: 100px;
}

.movie-poster-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

/* .movie-poster-wrapper:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all 1s;
} */

.movie-poster-container {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .movie-poster-container:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
  transition: all 1s;
} */
*/