.show-time-details-container {
  display: flex;
  gap: 25px;
}

.movie-image {
  background-size: cover;
  background-position: center;
  margin-top: 10px;;
}

.movie-image-mobile-booking {
  width: 100px;
  height: 100px;
}

.movie-image-mobile {
  width: 100px;
  height: 100px;
}

.movie-image-desktop-booking {
  width: 150px;
  height: 150px;
}

.movie-image-desktop {
  width: 300px;
  height: 300px;
}

.movie-details {
  flex: 1;
}