.basic-details {
  margin-top: 0px;
  margin-bottom: 10px;
}

.basic-details.multiline {
  margin-bottom: -2px;
}

.basic-details .label {
  color: var(--none-color-dark);
}

.basic-details .details {
  color: var(--none-color-dark-darker);
  margin-left: 5px;
  font-weight: 600;
}